body{
    background: #d6c5c5;
}

footer{
    margin-top: 64px;
    width: 80%;
    margin-left: 10%;
}

.contacts-panel{
    background-color: rgba(40, 59, 51, 0.85);
    backdrop-filter: saturate(180%) blur(20px);
}

.product{
    margin-top: 36px;
    padding: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url(../images/background_prod.jpg);
}

.desc{
    color: cornsilk;
    opacity: 0.6;

}

.pic{
    width: 45%;
    height: 45%;
    padding: 16px;
    align-self: flex-end;
}

.category{
    width: 100%;
}